@{
    ViewData["Title"] = "Crash Predictor";
}

@model PredictionViewModel

    <h2 style="text-align: center;">Predict Level of Crash Severity (1-5+)</h2>
      <form method="post" asp-controller="Inference" asp-action="Score">
          @if (Model?.Prediction.PredictedValue is null)
          {

          }

          else if (Model?.Prediction.PredictedValue >= 5)
          {
          <div class="container text-center rounded shadow-lg" style="background-color: white; padding-top: 20px; padding-bottom: 10px; width: 60%;">
              <h2 style="color:red;">Fatal</h2>
              <h4 style="color:red;">@Model?.Prediction.PredictedValue</h4>
          </div>
          }

          else if (Model?.Prediction.PredictedValue >= 4)
          {
      <div class="container text-center rounded shadow-lg" style="background-color: white; padding-top: 20px; padding-bottom: 10px; width: 60%;">
          <h2 style="color:#DE8F43">Suspected serious injury</h2>
          <h4 style="color:#DE8F43;">@Model?.Prediction.PredictedValue</h4>
      </div>
          }

          else if (Model?.Prediction.PredictedValue >= 3)
          {
      <div class="container text-center rounded shadow-lg" style="background-color: white; padding-top: 20px; padding-bottom: 10px; width: 60%;">
          <h2 style="color:#EFCC45">Suspected minor injury</h2>
          <h4 style="color:#EFCC45;">@Model?.Prediction.PredictedValue</h4>
      </div>
          }

          else if (Model?.Prediction.PredictedValue >= 2)
          {
      <div class="container text-center rounded shadow-lg" style="background-color: white; padding-top: 20px; padding-bottom: 10px; width: 60%;">
          <h2 style="color:#459BDF">Possible injury</h2>
          <h4 style="color:#459BDF;">@Model?.Prediction.PredictedValue</h4>
      </div>
          }

          else if (Model?.Prediction.PredictedValue >= 0)
          {
      <div class="container text-center rounded shadow-lg" style="background-color: white; padding-top: 20px; padding-bottom: 10px; width: 60%;">
          <h2 style="color: green;">No injury</h2>
          <h4 style="color:green;">@Model?.Prediction.PredictedValue</h4>
      </div>
          }

          <br />

          <input type="hidden" asp-for="@Model.PredictorData.route" value=2082.00000 />
          <input type="hidden" asp-for="@Model.PredictorData.milepoint" value=2.702000 />
          <input type="hidden" asp-for="@Model.PredictorData.lat_utm_y" value=4.483701e+06 />
          <input type="hidden" asp-for="@Model.PredictorData.long_utm_x" value=427458.669400 />
          <input type="hidden" asp-for="@Model.PredictorData.county_name_Other" value=0 />


          @*<p>option1 </p>
        <input type="radio" name="option1" value="0" id="Select" />Select
        <input type="radio" name="option1" value="1" id="coffee" />Coffee
        <p>option2</p>
        <input type="radio" name="option2" value="0" id="Select" />Select
        <input type="radio" name="option2" value="1" id="White" />White
        <input type="radio" name="option2" value="2" id="Black" />Black
        <p>option3</p>
        <input type="radio" name="option3" value="0" id="Select" />Select
        <input type="radio" name="option3" value="1" id="std" />STD
        <input type="radio" name="option3" value="2" id="300" />300
        <input type="radio" name="option3" value="3" id="500" />500*@

          @*<label>Pedestrian Involved</label>
        <input type="radio" name="option1" asp-for="@Model.PredictorData.pedestrian_involved" value="1" id="True" />True
        <input type="radio" name="option1" asp-for="@Model.PredictorData.pedestrian_involved" value="0" id="False" />False
        <br />
        <label>Motorcycle Involved</label>
        <input type="radio" name="option2" asp-for="@Model.PredictorData.motorcycle_involved" value="1" id="True" />True
        <input type="radio" name="option2" asp-for="@Model.PredictorData.motorcycle_involved" value="0" id="False" />False
        <br />
        <label>Improper Restraint</label>
        <input type="radio" name="option3" asp-for="@Model.PredictorData.improper_restraint" value="1" id="True" />True
        <input type="radio" name="option3" asp-for="@Model.PredictorData.improper_restraint" value="0" id="False" />False
        <br />*@

          <div class="container text-center rounded shadow-lg" style="background-color: white; padding-top: 20px; padding-bottom: 10px; width: 60%;">
              <h2>Enter a Scenario</h2>
              <div class="parent1">
                  <div class="child1">
                      <label>Pedestrian Involved</label>
                      <select type="checkbox" asp-for="@Model.PredictorData.pedestrian_involved">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br>
                  </div>

                  <div class="child2" style="padding-left: 50px;">
                      <label>Motorcycle Involved</label>
                      <select asp-for="@Model.PredictorData.motorcycle_involved">
                          <option type="checkbox" value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br>
                  </div>
              </div>

              <div class="parent1">
                  <div class="child1">
                      <label>Improper Restraint</label>
                      <select asp-for="@Model.PredictorData.improper_restraint">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br>
                  </div>
                
                  <div class="child2" style="padding-left: 57px;">
                      <label>DUI</label>
                      <select asp-for="@Model.PredictorData.dui">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br>
                  </div>
              </div>

              <div class="parent1">
                  <div class="child1">
                      <label>Intersection Related</label>
                      <select asp-for="@Model.PredictorData.intersection_related">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br>
                  </div>

                  <div class="child2" style="padding-left: 46px;">
                      <label>Overturn or Rollover</label>
                      <select asp-for="@Model.PredictorData.overturn_rollover">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br>
                  </div>
              </div>

              <div class="parent1">
                  <div class="child1">
                      <label>Teenage Driver Involved</label>
                      <select asp-for="@Model.PredictorData.teenage_driver_involved">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br>
                  </div>

                  <div class="child2" style="padding-left: 19px;">
                      <label>Older Driver Involved</label>
                      <select asp-for="@Model.PredictorData.older_driver_involved">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br>
                  </div>
              </div>

              <div class="parent1">
                  <div class="child1">
                      <label>Dark Night Condition</label>
                      <select asp-for="@Model.PredictorData.night_dark_condition">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br>
                  </div>

                  <div class="child2" style="padding-left: 40px;">
                      <label>Single Vehicle</label>
                      <select asp-for="@Model.PredictorData.single_vehicle">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br>
                  </div>
              </div>

              <div class="parent1">
                  <div class="child1">
                      <label>Distracted Driving</label>
                      <select asp-for="@Model.PredictorData.distracted_driving">
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      </select> <br><br />
                  </div>
              </div>


              <span class="card-text">
                  <button type="submit" class="btn btn-success btn-sm float-end">Generate Prediction</button>
              </span>
          </div>

          @*<div class="container text-center rounded shadow-lg" style="background-color: white; padding-top: 20px; padding-bottom: 10px; width: 60%;">
            <h3>Predicted Level of Severity: @Model?.Prediction.PredictedValue</h3>
        </div>*@
      </form>
    <br />
    <br />